#MSWalk-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 'a b';
    grid-template-columns: 66.66vw  33.33vw;
    background-color: black
}

#MSWalk-Descrip-container{
    grid-area: a;
    padding-left: 10vw;
    padding-right: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100vh;
}

#MSWalk-Headline{
    font-size: 5vh;
    font-weight: bold
}

.MSWalk-Parag{
    font-size: 2vh;
}

#MSWalk-Logos-container{
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw;
}

.MSWalk-Logo{
    height: 5vh;
}

#MSWalk-Video-container{
    grid-area: b;
    display: flex;
    align-items: center;

}

#MSWalk-Video{
    height: 80vh;

}