#Splash-container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'a b b c' 'e e e e' 'g g g g' ;
  grid-template-rows: 20vh 50vh 30vh ;
  grid-template-columns: repeat(4, 25vw);
  background-color: black

}

#Splash-Robothead{
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Splash-Typing{
  grid-area:  e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 5vh
}
.Splash-Link{
  text-decoration: none;
  color: white;
  border: solid white;
  border-radius: 5px
}

#SplashButton-container{
  grid-area: g;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 10vw
}

